<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Counter!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container flexed">
        <div class="box autoZone"> 
            <h1>Counter: {{session['count']}}</h1>
            <form action="/increment" method="POST">
                <input type="submit" value="Increment">
            </form>
        </div>
    </div>
</body>
</html>